<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892400713453-pvje80jem8k7kq46go588hd8r7ogt9h6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892400713453-pvje80jem8k7kq46go588hd8r7ogt9h6</string>
	<key>API_KEY</key>
	<string>AIzaSyD7d5o8Ve3JaT0BX6tn8y4kvTevzZBrYag</string>
	<key>GCM_SENDER_ID</key>
	<string>892400713453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hfrq.ExiOS</string>
	<key>PROJECT_ID</key>
	<string>examenios-1afcc</string>
	<key>STORAGE_BUCKET</key>
	<string>examenios-1afcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892400713453:ios:10ce4ded4b478b610096e4</string>
</dict>
</plist>